<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="listPoblacion" class="nav-link">Poblacion List</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="addPoblacion" class="nav-link">Add Poblacion</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="addDelito" class="nav-link">Add Delito</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="listDelito" class="nav-link">Delito List</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="addGrupoArmado" class="nav-link">Add Grupo armado</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="listDelito" class="nav-link">Grupo armado List</a>
      </li>

      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
</div>
