<div class="container col-lg-6">
  <h1 class="text-center">Recuperar contraseña</h1>
  <div class="card">
    <picture> <img src="assets/images/logo_login.jpg" alt="logo" class="logo"> </picture>
    <div class="card-body">
      <div class="message">
        <p>Por favor ingrese el correo asociado a su cuenta para recuperar su contraseña. Enviaremos un correo electrónico con las instrucciones.</p>
      </div>

      <h3 class="card-title text-center">Please enter your email</h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          matInput [formControl]="emailControl"
          required
        />

        <div *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Por favor ingrese un correo válido
        </div>
        
        <div class="alert alert-warning" *ngIf='successSendEmail'>{{errorMessage}}</div>
        
        <div *ngIf="emailControl.hasError('required')">
          El correo es <strong>requerido</strong>
        </div>

      </div>
      <div class="form-group text-center pt-2">
        <button class="btn btn-success" (click)="onChangePassword()">
          Recuperar contraseña
        </button>
      </div>

      <div class="form-group text-center link">
        <br>
        <a class="link-text" [routerLink]="['/login']">Volver al inicio de sesión</a><br>
      </div>

    </div>  
  </div>
</div>